<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >

<suite name="Suite"  >
    <listeners>

        <listener class-name="com.w2a.RestTestingFramework.listeners.ExtentListeners">

        </listener>
    </listeners>
    <test name="Delete_customer">
        <classes>
            <class name="com.w2a.RestTestingFramework.testcases.DeleteCustomerTest"/>

        </classes>
    </test>
    <test name="Create Customer Api  Test">
        <classes>
            <class name="com.w2a.RestTestingFramework.testcases.CreateCustomerTest"/>

        </classes>
    </test>



</suite>
